Repository sorenhartmann/Speciale: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, latex-nl

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        files: \.ipynb$
        stages: [commit]
        language: system
        entry: jupyter-nbconvert --ClearOutputPreprocessor.enabled=True --inplace
      - id: latex-nl
        name: latex-nl
        files: \.tex$
        stages: [commit]
        language: system
        entry: sed -i ""  -E  's/\. +([A-Z])/.\n\1/'

spelling
  .pre-commit-config.yaml
  thesis/Chapters/03_Inference.tex
  thesis/Chapters/04_Implementation.tex
  thesis/Chapters/05_Experiments.tex
  thesis/Figures/software_arch.tex
  thesis/Frontmatter/Frontpage.tex
  thesis/Setup/Preamble.tex
  thesis/Setup/Settings.tex
  thesis/Setup/Statics.tex
  thesis/main.tex
Due: latex-nl

more aggresive parameter search
  batch_scripts/mnist/sweep/sgd_map.sh
  batch_scripts/mnist/sweep/sghmc.sh
  batch_scripts/mnist/sweep/sghmc_var_est.sh
  batch_scripts/mnist/sweep/vi.sh
  batch_scripts/mnist/sweep/vi_with_corr.sh
  conf/experiment/mnist.yaml
  conf/experiment/mnist/sghmc.yaml
  conf/experiment/mnist/sghmc_var_est.yaml
  conf/experiment/mnist/vi_with_corr.yaml
  conf/inference/mcmc.yaml
  conf/inference/sample_container/doubling.yaml
  conf/model/mlp_classifier.yaml
  conf/sweep/sampler/cmaes.yaml
  conf/sweep/sampler/tpe.yaml
  conf/sweep/search_space/sghmc.yaml
  conf/sweep/search_space/sghmc_var_est.yaml
  conf/sweep/search_space/vi.yaml
  conf/sweep/study/in_memory.yaml
  conf/sweep/study/pruner/median.yaml
  conf/sweep/study/pruner/nop.yaml
  conf/sweep/study/sqlite.yaml
  conf/sweep_config.yaml
  conf/trainer/no_checkpoints.yaml
  scripts/sweep.py
  src/utils.py
Due: none

more patient early stopping
  conf/sweep_config.yaml
Due: none

removed early stopping due to unstable val curves
  conf/sweep_config.yaml
Due: none

writing progress
  .pre-commit-config.yaml
  thesis/Chapters/04_Implementation.tex
  thesis/Chapters/05_Experiments.tex
Due: latex-nl

figures
  thesis/Figures/mcmc_arch.tex
  thesis/Figures/software_arch.tex
  thesis/Figures/vi_arch.tex
  thesis/Figures/vi_module_arch.tex
Due: latex-nl

pruning failed trials
  scripts/sweep.py
Due: none

training scripts mnist
  batch_scripts/mnist/sgd_dropout.sh
  batch_scripts/mnist/sgd_map.sh
  batch_scripts/mnist/sghmc.sh
  batch_scripts/mnist/sghmc_var_est.sh
  batch_scripts/mnist/vi.sh
  batch_scripts/mnist/vi_with_corr.sh
Due: none

some plots and table for mnist
  notebooks/mnist.ipynb
Due: jupyter-nb-clear-output

report updates
  thesis/Backmatter/Appendix.tex
  thesis/Chapters/04_Implementation.tex
  thesis/Chapters/05_Experiments.tex
  thesis/Figures/mcmc_arch.tex
  thesis/Figures/mnist-best-runs-val-curves.pdf
  thesis/Figures/simulated_joint_HMC_15.pdf
  thesis/Figures/simulated_joint_HMC_5.pdf
  thesis/Figures/simulated_joint_SGHMCWithVarianceEstimator_5.pdf
  thesis/Figures/simulated_joint_SGHMC_5.pdf
  thesis/Figures/simulated_pairs_HMC_15.pdf
  thesis/Figures/simulated_pairs_HMC_5.pdf
  thesis/Figures/simulated_pairs_SGHMCWithVarianceEstimator_5.pdf
  thesis/Figures/simulated_pairs_SGHMC_5.pdf
  thesis/Figures/simulated_sghmc_gradient_estimations_AdamEstimator.pdf
  thesis/Figures/simulated_sghmc_gradient_estimations_ExpWeightedEstimator.pdf
  thesis/Figures/simulated_sghmc_gradient_estimations_InterBatchEstimator.pdf
  thesis/Figures/simulated_sghmc_gradient_variance_estimations.pdf
  thesis/Figures/software_arch.tex
  thesis/Figures/temperature_sum_chi2_comp.pdf
  thesis/Figures/vi_arch.tex
  thesis/Figures/vi_module_arch.tex
  thesis/Frontmatter/Frontpage.tex
  thesis/Setup/__latexindent_temp.tex
  thesis/Tables/mnist-sgd-dropout-hparams.tex
  thesis/Tables/mnist-sgd-map-hparams.tex
  thesis/Tables/mnist-sghmc-hparams.tex
  thesis/Tables/mnist-sghmc-var-est-hparams.tex
  thesis/Tables/mnist-vi-hparams.tex
  thesis/Tables/mnist-vi-with-corr-hparams.tex
  thesis/bibliography.bib
Due: latex-nl

ignore storages
  .gitignore
Due: none

no pruner in optuna, still with mv tpe lets try it
  conf/sweep/study/pruner/median.yaml
  conf/sweep_config.yaml
  conf/trainer/default.yaml
Due: none

tmp values for sghmc runs
  conf/experiment/mnist/sghmc.yaml
  conf/experiment/mnist/sghmc_var_est.yaml
Due: none

training script for mnist models
  batch_scripts/mnist/sgd_dropout.sh
  batch_scripts/mnist/sgd_map.sh
  batch_scripts/mnist/sghmc_var_est.sh
  batch_scripts/mnist/train_models.sh
  batch_scripts/mnist/vi.sh
  batch_scripts/mnist/vi_with_corr.sh
Due: none

temperature callback configuation
  conf/extra_callbacks/mcmc_incl_diagn.yaml
  src/callbacks/mcmc.py
Due: none

train mcmc
  batch_scripts/mnist/train_mcmc_models.sh
  conf/experiment/mnist/sghmc.yaml
  conf/experiment/mnist/sghmc_var_est.yaml
  conf/extra_callbacks/mcmc_incl_diagn.yaml
  conf/extra_callbacks/save_samples_and_log_temp_all.yaml
Due: none

save val logliks
  conf/extra_callbacks/save_samples_and_log_temp_all.yaml
  src/callbacks/mcmc.py
  src/inference/mcmc/mcmc.py
Due: none

also save samples (for test)
  conf/extra_callbacks/save_samples_and_log_temp_all.yaml
Due: none

testing with inference.py and fitlering samples
  batch_scripts/mnist/train_mcmc_models.sh
  conf/extra_callbacks/make_sample_curve_and_log_temp.yaml
  conf/extra_callbacks/save_samples_and_log_temp_all.yaml
  conf/inference_config.yaml
  scripts/inference.py
  src/callbacks.py
  src/callbacks/mcmc.py
  src/inference/mcmc/mcmc.py
Due: none

fixed time limit in script
  batch_scripts/mnist/train_mcmc_models.sh
Due: none

test steps for all methods incl using best checkpoint
  batch_scripts/mnist/train_mcmc.sh
  batch_scripts/mnist/train_other.sh
  conf/experiment/mnist/sgd_dropout.yaml
  conf/experiment/mnist/sgd_map.yaml
  conf/experiment/mnist/sghmc.yaml
  conf/experiment/mnist/sghmc_var_est.yaml
  conf/experiment/mnist/vi.yaml
  conf/experiment/mnist/vi_with_corr.yaml
  conf/inference_config.yaml
  conf/sweep_config.yaml
  conf/trainer/best_checkpoint.yaml
  scripts/inference.py
  src/inference/mcmc/mcmc.py
  src/inference/sgd.py
  src/inference/vi.py
Due: none

the usual device bug
  src/inference/mcmc/mcmc.py
  src/inference/sgd.py
  src/inference/vi.py
Due: none

avg likelihood
  src/inference/mcmc/mcmc.py
Due: none

also avg likelihood
  conf/extra_callbacks/make_sample_curve_and_log_temp.yaml
  src/callbacks/mcmc.py
Due: none

vi with exp weight
  batch_scripts/mnist/sweep/vi_exp_weighted.sh
  batch_scripts/simulated.sh
  conf/experiment/mnist/vi_exp_weighted.yaml
  src/experiments/common.py
  src/utils.py
Due: none

notebooks update
  notebooks/mnist-resampling.ipynb
  notebooks/mnist.ipynb
  notebooks/simulated.ipynb
Due: jupyter-nb-clear-output

thesis updates
  thesis/Backmatter/Appendix.tex
  thesis/Chapters/03_Inference.tex
  thesis/Chapters/04_Implementation.tex
  thesis/Chapters/05_Experiments.tex
  thesis/Figures/mnist-best-runs-val-curves.pdf
  thesis/Figures/simulated_joint_HMC_15.pdf
  thesis/Figures/simulated_joint_HMC_5.pdf
  thesis/Figures/simulated_joint_SGHMC_5.pdf
  thesis/Figures/simulated_pairs_HMC_15.pdf
  thesis/Figures/simulated_pairs_HMC_5.pdf
  thesis/Figures/simulated_pairs_SGHMC_5.pdf
  thesis/Figures/vi-simulated.pdf
  thesis/Setup/Preamble.tex
  thesis/Tables/mnist-sgd-dropout-hparams.tex
  thesis/Tables/mnist-sgd-map-hparams.tex
  thesis/Tables/mnist-sghmc-hparams.tex
  thesis/Tables/mnist-sghmc-var-est-hparams.tex
  thesis/Tables/mnist-vi-hparams.tex
  thesis/Tables/mnist-vi-with-corr-hparams.tex
  thesis/Tables/mnist_test_err.tex
Due: latex-nl

calibration curves and plots
  batch_scripts/mnist/train_mcmc.sh
  batch_scripts/mnist/train_other.sh
  conf/extra_callbacks/calculate_calibration.yaml
  conf/extra_callbacks/log_temp_and_calculate_calibration.yaml
  notebooks/mnist.ipynb
  src/callbacks/common.py
  src/callbacks/mcmc.py
  src/inference/mcmc/mcmc.py
  src/inference/mcmc/samplable.py
  src/inference/mcmc/samplers.py
  src/inference/sgd.py
  src/inference/vi.py
  src/visualization/calibration_curves.r
Due: jupyter-nb-clear-output

update script
  batch_scripts/mnist/train_mcmc.sh
Due: none

early stopping callback
  conf/extra_callbacks/early_stopping.yaml
  conf/sweep_config.yaml
Due: none

calibration ...
  src/callbacks/common.py
Due: none

proper ece estimation
  src/callbacks/common.py
Due: none

status
  thesis/Backmatter/Appendix.tex
  thesis/Chapters/01_Introduction.tex
  thesis/Chapters/03_Inference.tex
  thesis/Chapters/05_Experiments.tex
  thesis/Figures/cifar-small-best-runs-val-curves.pdf
  thesis/Figures/cifar10-small-calibration.pdf
  thesis/Figures/mnist-best-runs-val-curves.pdf
  thesis/Figures/mnist-calibration.pdf
  thesis/Figures/mnist-downsampling.pdf
  thesis/Figures/mnist-temperatures.pdf
  thesis/Setup/Preamble.tex
  thesis/Tables/cifar-small-ece.tex
  thesis/Tables/cifar-small-sgd-dropout-hparams.tex
  thesis/Tables/cifar-small-sgd-map-hparams.tex
  thesis/Tables/cifar-small-sghmc-hparams.tex
  thesis/Tables/cifar-small-sghmc-var-est-hparams.tex
  thesis/Tables/cifar-small-test-err.tex
  thesis/Tables/cifar-small-vi-exp-weighted-hparams.tex
  thesis/Tables/cifar-small-vi-hparams.tex
  thesis/Tables/cifar10-ece.tex
  thesis/Tables/cifar_small_test_err.tex
  thesis/Tables/cifar_test_err.tex
  thesis/Tables/mnist-ece.tex
  thesis/Tables/mnist-test-err.tex
  thesis/Tables/mnist-test0err.tex
  thesis/Tables/mnist-vi-exp-weighted-hparams.tex
  thesis/bibliography.bib
  thesis/main.tex
Due: latex-nl

fixes sample filter curve callback
  src/callbacks/mcmc.py
  src/inference/mcmc/sample_containers.py
  src/inference/mcmc/samplers.py
Due: none

fuck, forgot maxpool....
  src/models/conv.py
Due: none

model, scripts and cfg updates
  batch_scripts/cifar10/densenet/train_sgd_dropout.sh
  batch_scripts/cifar10/densenet/train_sgd_low_dropout.sh
  batch_scripts/cifar10/densenet/train_sgd_map.sh
  batch_scripts/cifar10/densenet/train_sgd_no_dropout.sh
  batch_scripts/cifar10/densenet/train_sghmc.sh
  batch_scripts/cifar10/densenet/train_sghmc_var_est.sh
  batch_scripts/cifar10/densenet/train_vi.sh
  batch_scripts/cifar10/small.sh
  batch_scripts/cifar10/small/sweep/sgd_dropout.sh
  batch_scripts/cifar10/small/sweep/sgd_map.sh
  batch_scripts/cifar10/small/sweep/sghmc.sh
  batch_scripts/cifar10/small/sweep/sghmc_var_est.sh
  batch_scripts/cifar10/small/sweep/vi.sh
  batch_scripts/cifar10/small/sweep/vi_exp_weighted.sh
  batch_scripts/cifar10/small/train_mcmc.sh
  batch_scripts/cifar10/small/train_other.sh
  conf/experiment/cifar10_densenet.yaml
  conf/experiment/cifar10_densenet/sgd_dropout.yaml
  conf/experiment/cifar10_densenet/sgd_low_dropout.yaml
  conf/experiment/cifar10_densenet/sgd_map.yaml
  conf/experiment/cifar10_densenet/sgd_no_dropout.yaml
  conf/experiment/cifar10_densenet/sghmc.yaml
  conf/experiment/cifar10_densenet/sghmc_var_est.yaml
  conf/experiment/cifar10_densenet/vi.yaml
  conf/experiment/cifar10_small.yaml
  conf/experiment/cifar10_small/sgd_map.yaml
  conf/experiment/cifar10_small/sghmc.yaml
  conf/experiment/cifar10_small/sghmc_var_est.yaml
  conf/experiment/cifar10_small/sghmc_var_est_high_margin.yaml
  conf/experiment/cifar10_small/vi.yaml
  conf/experiment/cifar10_small/vi_exp_weighted.yaml
  conf/experiment/mnist/sgd_map.yaml
  conf/extra_callbacks/early_stopping.yaml
  conf/sweep_config.yaml
  conf/trainer/best_checkpoint_top_ten.yaml
  src/models/conv.py
Due: none

change back lr
  batch_scripts/cifar10/densenet/train_sgd_dropout.sh
  batch_scripts/cifar10/densenet/train_sgd_low_dropout.sh
  batch_scripts/cifar10/densenet/train_sgd_map.sh
  batch_scripts/cifar10/densenet/train_sgd_no_dropout.sh
  batch_scripts/cifar10/densenet/train_sghmc.sh
  batch_scripts/cifar10/densenet/train_sghmc_var_est.sh
Due: none

also change back lr
  batch_scripts/cifar10/densenet/train_vi.sh
Due: none

thesis work
  thesis/Backmatter/Appendix.tex
  thesis/Chapters/01_Introduction.tex
  thesis/Chapters/03_Inference.tex
  thesis/Chapters/04_Implementation.tex
  thesis/Chapters/05_Experiments.tex
  thesis/Figures.png
  thesis/Figures/cifar-densenet-final-runs-val.pdf
  thesis/Figures/cifar-densenet-temperatures.pdf
  thesis/Figures/cifar-small-best-runs-val-curves.pdf
  thesis/Figures/cifar-small-downsampling.pdf
  thesis/Figures/cifar-small-final-runs-val.pdf
  thesis/Figures/cifar-small-temperatures.pdf
  thesis/Figures/cifar-temperatures.pdf
  thesis/Figures/cifar10-densenet-calibration.pdf
  thesis/Figures/cifar10-small-calibration.pdf
  thesis/Figures/mnist-best-runs-val-curves.pdf
  thesis/Figures/mnist-calibration.pdf
  thesis/Figures/mnist-final-runs-val.pdf
  thesis/Figures/mnist-temperatures.pdf
  thesis/Tables/cifar-densenet-ece.tex
  thesis/Tables/cifar-densenet-test-err.tex
  thesis/Tables/cifar-small-ece.tex
  thesis/Tables/cifar-small-sgd-dropout-hparams.tex
  thesis/Tables/cifar-small-sgd-map-hparams.tex
  thesis/Tables/cifar-small-sghmc-hparams.tex
  thesis/Tables/cifar-small-sghmc-var-est-hparams.tex
  thesis/Tables/cifar-small-temperatures.tex
  thesis/Tables/cifar-small-test-err.tex
  thesis/Tables/cifar-small-vi-exp-weighted-hparams.tex
  thesis/Tables/cifar-small-vi-hparams.tex
  thesis/Tables/cifar-temperatures.tex
  thesis/Tables/mnist-temperatures.tex
  thesis/bibliography.bib
  thesis/main.tex
Due: latex-nl
