Repository sorenhartmann/Speciale: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, latex-nl

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter-nbconvert --ClearOutputPreprocessor.enabled=True --inplace

latex-nl:
  name: latex-nl
  stages:
  - commit
  language: system
  entry: sed -i ""  -E  's/\. +([A-Z])/.\n\1/'

lots of figures
  thesis/Chapters/05_Experiments.tex
  thesis/Figures/cifar-densenet-final-runs-val.pdf
  thesis/Figures/cifar-densenet-temperatures.pdf
  thesis/Figures/cifar-small-best-runs-val-curves.pdf
  thesis/Figures/cifar-small-calibration.pdf
  thesis/Figures/cifar-small-downsampling.pdf
  thesis/Figures/cifar-small-final-runs-val.pdf
  thesis/Figures/cifar-small-temperatures.pdf
  thesis/Figures/cifar10-densenet-calibration.pdf
  thesis/Figures/mnist-best-runs-val-curves.pdf
  thesis/Figures/mnist-calibration.pdf
  thesis/Figures/mnist-downsampling.pdf
  thesis/Figures/mnist-final-runs-val.pdf
  thesis/Figures/mnist-temperatures.pdf
  thesis/Figures/simulated_joint_HMC_15.pdf
  thesis/Figures/simulated_joint_HMC_5.pdf
  thesis/Figures/simulated_joint_SGHMCWithVarianceEstimator_5.pdf
  thesis/Figures/simulated_joint_SGHMC_5.pdf
  thesis/Figures/simulated_pairs_HMC_15.pdf
  thesis/Figures/simulated_pairs_HMC_5.pdf
  thesis/Figures/simulated_pairs_SGHMCWithVarianceEstimator_5.pdf
  thesis/Figures/simulated_pairs_SGHMC_5.pdf
  thesis/Figures/simulated_sghmc_gradient_variance_estimations.pdf
  thesis/Figures/simulated_var_est_joint_AdamEstimator.pdf
  thesis/Figures/simulated_var_est_joint_ExpWeightedEstimator.pdf
  thesis/Figures/simulated_var_est_joint_InterBatchEstimator.pdf
  thesis/Figures/simulated_var_est_pairs_AdamEstimator.pdf
  thesis/Figures/simulated_var_est_pairs_ExpWeightedEstimator.pdf
  thesis/Figures/simulated_var_est_pairs_InterBatchEstimator.pdf
  thesis/Figures/temperature_sum_chi2_comp.pdf
  thesis/Figures/vi-simulated.pdf
  thesis/Tables/cifar-densenet-ece.tex
  thesis/Tables/cifar-densenet-test-err.tex
  thesis/Tables/simultated_variance_estimations.tex
  thesis/Tables/var-estimators-temperatures.tex
Due: latex-nl

plots use consistnet colors across experiemnts
  src/analysis/colors.py
  src/analysis/gradient_variance_estimators.py
  src/analysis/inference.py
  src/analysis/sample_distribution.py
  src/analysis/simulated.py
  src/analysis/temperatures.py
  src/analysis/utils.py
Due: none

various updates to notebooks
  notebooks/cifar10-densenet.ipynb
  notebooks/cifar10-small.ipynb
  notebooks/dropout_vi_ensemble.ipynb
  notebooks/sghmc_gradients.ipynb
  notebooks/sghmc_stats.ipynb
  notebooks/simulated.ipynb
Due: jupyter-nb-clear-output

first proof reading pass
  thesis/Backmatter/Appendix.tex
  thesis/Backmatter/Backpage.tex
  thesis/Chapters/01_Introduction.tex
  thesis/Chapters/03_Inference.tex
  thesis/Chapters/04_Implementation.tex
  thesis/Chapters/05_Experiments.tex
  thesis/Chapters/06_Conclusion.tex
  thesis/Figures/cifar-densenet-final-runs-val.pdf
  thesis/Figures/cifar-densenet-temperatures.pdf
  thesis/Figures/cifar-small-best-runs-val-curves.pdf
  thesis/Figures/cifar-small-calibration.pdf
  thesis/Figures/cifar-small-downsampling.pdf
  thesis/Figures/cifar-small-final-runs-val.pdf
  thesis/Figures/cifar-small-temperatures.pdf
  thesis/Figures/cifar10-densenet-calibration.pdf
  thesis/Figures/mnist-best-runs-val-curves.pdf
  thesis/Figures/mnist-calibration.pdf
  thesis/Figures/mnist-downsampling.pdf
  thesis/Figures/mnist-final-runs-val.pdf
  thesis/Figures/mnist-temperatures.pdf
  thesis/Figures/synthetic.pdf
  thesis/Frontmatter/Abstract.tex
  thesis/Tables/cifar-densenet-temperatures.tex
  thesis/Tables/cifar-densenet-test-err.tex
  thesis/Tables/cifar-small-ece.tex
  thesis/Tables/cifar-small-temperatures.tex
  thesis/Tables/cifar-small-test-err.tex
  thesis/Tables/cifar10-densenet-ece.tex
  thesis/Tables/mnist-ece.tex
  thesis/Tables/mnist-sgd-dropout-hparams.tex
  thesis/Tables/mnist-sgd-map-hparams.tex
  thesis/Tables/mnist-sghmc-hparams.tex
  thesis/Tables/mnist-sghmc-var-est-hparams.tex
  thesis/Tables/mnist-temperatures.tex
  thesis/Tables/mnist-test-err.tex
  thesis/Tables/mnist-vi-exp-weighted-hparams.tex
  thesis/Tables/mnist-vi-hparams.tex
  thesis/bibliography.bib
  thesis/main.tex
Due: latex-nl

final plots
  notebooks/cifar10-densenet.ipynb
  notebooks/cifar10-small.ipynb
  notebooks/mnist.ipynb
  notebooks/sghmc_gradients.ipynb
  notebooks/synthetic.ipynb
  src/analysis/inference.py
  src/analysis/temperatures.py
  src/analysis/utils.py
Due: jupyter-nb-clear-output

second pass
  notebooks/simulated.ipynb
  thesis/Backmatter/Appendix.tex
  thesis/Chapters/01_Introduction.tex
  thesis/Chapters/03_Inference.tex
  thesis/Chapters/04_Implementation.tex
  thesis/Chapters/05_Experiments.tex
  thesis/Chapters/06_Conclusion.tex
  thesis/Figures/pol_model.pdf
  thesis/Frontmatter/Abstract.tex
  thesis/Frontmatter/Copyright.tex
  thesis/Setup/Preamble.tex
  thesis/Setup/Statics.tex
  thesis/bibliography.bib
Due: jupyter-nb-clear-output, latex-nl

final pass?
  thesis/Backmatter/Backpage.tex
  thesis/Chapters/06_Conclusion.tex
  thesis/Frontmatter/Abstract.tex
  thesis/Frontmatter/Acknowledgements.tex
  thesis/Frontmatter/Approval.tex
Due: latex-nl

Path conditions:
  jupyter-nb-clear-output: any of: \.ipynb$
  latex-nl: any of: \.tex$
